
.count-base {
	height: 0px;
	width: 100%;
	right: 0px;
	z-index: 12;
	//position:flex;
	text-align: right;
	.count {
		height: 30px;
		//width: 30px;
		font-size: 17px;
		line-height: 30px;
		overflow:hidden;
		position:relative;
		z-index: 12;
		right: 2px;
		top: 4px;
		text-align: right;
		padding: 5px 10px;
		color: rgba(0, 0, 0, 1.0);
		background: rgba(256, 256, 256, 0.3);
		border: 1px solid;
		border-color: rgba(256, 256, 256, 0.8);
		border-radius: 15px;
	}
}

.imgContainer-small {
	text-align: center;
	margin: 15px 0 0 0;
}

img.miniature-small {
	width: 80px;
	height: 80px;
	//border-radius: 50%;
}

.title-small {
	height: 60px;
	font-size: 24px;
	overflow:hidden;
	vertical-align: middle;
}

.description-small {
	height: 30px;
	font-size: 12px;
	overflow:hidden;
	vertical-align: middle;
}