<div class="generic-page">
	<div *ngIf="series_name" class="title">
		{{series_name}}
	</div>
	<div class="sub-title-main">
		Season {{name}}
	</div>
	<div class="cover" *ngIf="cover != null" >
		<img src="{{cover}}"/>
	</div>
	<div class="no-cover" *ngIf="cover == null" >
	</div>
	<div class="description" *ngIf="description">
		{{description}}
	</div>
	<div class="fill-all colomn_mutiple">
		<div *ngFor="let data of videos" class="item item-video" (click)="onSelectVideo($event, data.id)" (auxclick)="onSelectVideo($event, data.id)">
			<app-element-video [id_video]="data.id"></app-element-video>
		</div>
		<div class="clear"></div>
	</div>
</div>