<div class="main-reduce">
	<div class="fill-all">
		<div class="request_raw">
			<div class="label">
				Title:
			</div>
			<div class="input">
				<input type="text"
				       placeholder="Name of the Media"
				       [value]="name"
				       (input)="onName($event.target.value)"
				       />
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Description:
			</div>
			<div class="input">
				<input type="text"
				       placeholder="Description of the Media"
				       [value]="description"
				       (input)="onDescription($event.target.value)"/>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Date:
			</div>
			<div class="input">
				<input type="text"
				       [value]="time"
				       (input)="onDate($event.target.value)"/>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Type:
			</div>
			<div class="input">
				<select [ngModel]="type_id"
				        (ngModelChange)="onChangeType($event)">
					<option *ngFor="let element of listType" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Univers:
			</div>
			<div class="input">
				<select [ngModel]="univers_id"
				        (ngModelChange)="onChangeUnivers($event)">
					<option *ngFor="let element of listUnivers" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Group:
			</div>
			<div class="input">
				<select [ngModel]="group_id"
				        (ngModelChange)="onChangeGroup($event)">
					<option *ngFor="let element of listGroup" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Saison:
			</div>
			<div class="input">
				<select [ngModel]="saison_id"
				        (ngModelChange)="onChangeSaison($event)">
					<option *ngFor="let element of listSaison" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Episode:
			</div>
			<div class="input">
				<input type="text"
				       [value]="episode"
				       (input)="onEpisode($event.target.value)"/>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Data ID:
			</div>
			<div class="input">
				{{data_id}}
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Covers:
			</div>
			<div class="input">
				<div *ngFor="let element of covers_display" class="cover_div"><img src="{{element}}" class="cover"/></div>
			</div>
		</div>
		<div class="send_value">
			<button class="button fill-x color-button-validate color-shadow-black" (click)="sendValues()" type="submit"><i class="material-icons">save_alt</i> Save</button>
		</div>
		<div class="request_raw">
			<div class="label">
				Covers:
			</div>
			<div class="input">
				<input type="file" 
				       (change)="onChangeCover($event.target)"
				       placeholder="Select a cover file"
				       accept=".png,.jpg,.jpeg,.webp"/>{{upload_file_value}}
			</div>
		</div>
	</div>
</div>