<div class="main-reduce">
	<div class="fill-all">
		<div class="title">
			Edit media
		</div>
		<div class="request_raw">
			<div class="label">
				Title:
			</div>
			<div class="input">
				<input type="text"
				       placeholder="Name of the Media"
				       [value]="data.name"
				       (input)="onName($event.target.value)"
				       />
			</div>
		</div>
		<div class="request_raw2">
			<div class="label">
				<i class="material-icons">description</i> Description:
			</div>
			<div class="input">
				<textarea (input)="onDescription($event.target.value)" placeholder="Description of the Media" rows=6>{{data.description}}</textarea>
				<!--<input type="text"
				       placeholder="Description of the Media"
				       [value]="data.description"
				       (input)="onDescription($event.target.value)"/>-->
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				<i class="material-icons">date_range</i> Date:
			</div>
			<div class="input">
				<input type="number"
				       pattern="[0-9]{0-4}"
				       placeholder="2112"
				       [value]="data.time"
				       (input)="onDate($event.target)"/>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Type:
			</div>
			<div class="input">
				<select [ngModel]="data.type_id"
				        (ngModelChange)="onChangeType($event)">
					<option *ngFor="let element of listType" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
			<div class="input_add">
				<button class="button color-button-normal color-shadow-black" (click)="newType()" type="submit">
					<i class="material-icons">add_circle_outline</i>
				</button>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Univers:
			</div>
			<div class="input">
				<select [ngModel]="data.univers_id"
				        (ngModelChange)="onChangeUnivers($event)">
					<option *ngFor="let element of listUnivers" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
			<div class="input_add">
				<button class="button color-button-normal color-shadow-black" (click)="newUnivers()" type="submit">
					<i class="material-icons">add_circle_outline</i>
				</button>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Serie:
			</div>
			<div class="input">
				<select [ngModel]="data.serie_id"
				        (ngModelChange)="onChangeGroup($event)">
					<option *ngFor="let element of listGroup" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
			<div class="input_add">
				<button class="button color-button-normal color-shadow-black" (click)="newSerie()" type="submit">
					<i class="material-icons">add_circle_outline</i>
				</button>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Saison:
			</div>
			<div class="input">
				<select [ngModel]="data.saison_id"
				        (ngModelChange)="onChangeSaison($event)">
					<option *ngFor="let element of listSaison" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
			<div class="input_add">
				<button class="button color-button-normal color-shadow-black" (click)="newSaison()" type="submit">
					<i class="material-icons">add_circle_outline</i>
				</button>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Episode:
			</div>
			<div class="input">
				<input type="number"
				       pattern="[0-9]{0-4}"
				       placeholder="5"
				       [value]="data.episode"
				       (input)="onEpisode($event.target)"/>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				<i class="material-icons">data_usage</i> Data ID:
			</div>
			<div class="input">
				{{data.data_id}}
			</div>
		</div>
		<div class="send_value">
			<button class="button fill-x color-button-validate color-shadow-black" [disabled]="!need_send" (click)="sendValues()" type="submit"><i class="material-icons">save_alt</i> Save</button>
		</div>
		<div class="clear"><hr/></div>
		<div class="request_raw">
			<div class="label">
				Add covers:
			</div>
			<div class="input">
				<input type="file"
				       (change)="onChangeCover($event.target)"
				       placeholder="Select a cover file"
				       accept=".png,.jpg,.jpeg,.webp"/>{{upload_file_value}}
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Actual Covers:
			</div>
			<div class="input">
				<div *ngFor="let element of covers_display" class="cover_div">
					<img src="{{element.url}}" class="cover"/>
					<div class="cover_remove_div">
						<button class="button color-button-cancel color-shadow-black" (click)="removeCover(element.id)" type="submit">
							<i class="material-icons">delete</i> Remove Cover
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"><hr/></div>
		<div class="request_raw">
			<div class="label">
				<i class="material-icons">warning</i> Administration:
			</div>
			<div class="input">
				<button class="button color-button-cancel color-shadow-black" (click)="removeMedia()" type="submit">
					<i class="material-icons">delete</i> Remove Media
				</button>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<!--
<popin id="popin-new-saison"
       popTitle="Create a new saison"
       closeTopRight="true"
       closeTitle="close title"
       validateTitle="Validate"
       saveTitle="Save"
       otherTitle="Other"
       (callback)="eventPopUp($event[0])">
    <p>
        Home page text: <input type="text" [(ngModel)]="bodyText" />
    </p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</popin>
-->
<popin id="popin-new-saison"
       popTitle="Create a new saison"
       closeTopRight="true"
       closeTitle="Cancel"
       validateTitle="Create"
       (callback)="eventPopUpSaison($event[0])">
    <p>
        Name: <input type="text" [(ngModel)]="bodyText" />
    </p>
</popin>

<popin id="popin-new-serie"
       popSize="small"
       popTitle="Create a new serie"
       closeTopRight="true"
       closeTitle="Cancel"
       validateTitle="Create"
       (callback)="eventPopUpSerie($event[0])">
    <p>
        Name: <input type="text" [(ngModel)]="bodyText" />
    </p>
</popin>

<create-type ></create-type>

<popin id="popin-new-univers"
       popSize="big"
       popTitle="Create a new univers"
       closeTopRight="true"
       closeTitle="Cancel"
       validateTitle="Create"
       (callback)="eventPopUpUnivers($event[0])">
    <p>
        Name: <input type="text" [(ngModel)]="bodyText" />
    </p>
</popin>
