<div class="main-reduce edit-page">
	<div class="title">
		Edit Media
	</div>
	<div class="fill-all" *ngIf="itemIsRemoved">
		<div class="message-big">
			<br/><br/><br/>
			The media has been removed
			<br/><br/><br/>
		</div>
	</div>
	<div class="fill-all" *ngIf="itemIsNotFound">
		<div class="message-big">
			<br/><br/><br/>
			The media does not exist
			<br/><br/><br/>
		</div>
	</div>
	<div class="fill-all" *ngIf="itemIsLoading">
		<div class="message-big">
			<br/><br/><br/>
			Loading ...<br/> 
			Please wait.
			<br/><br/><br/>
		</div>
	</div>
	
	<div class="fill-all" *ngIf="!itemIsRemoved  && !itemIsNotFound && !itemIsLoading">
		<div class="request_raw">
			<div class="label">
				Title:
			</div>
			<div class="input">
				<input type="text"
				       placeholder="Name of the Media"
				       [value]="data.name"
				       (input)="onName($event.target.value)"
				       />
			</div>
		</div>
		<div class="request_raw2">
			<div class="label">
				<i class="material-icons">description</i> Description:
			</div>
			<div class="input">
				<textarea (input)="onDescription($event.target.value)" placeholder="Description of the Media" rows=6>{{data.description}}</textarea>
				<!--<input type="text"
				       placeholder="Description of the Media"
				       [value]="data.description"
				       (input)="onDescription($event.target.value)"/>-->
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				<i class="material-icons">date_range</i> Date:
			</div>
			<div class="input">
				<input type="number"
				       pattern="[0-9]{0-4}"
				       placeholder="2112"
				       [value]="data.time"
				       (input)="onDate($event.target)"/>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Type:
			</div>
			<div class="input">
				<select [ngModel]="data.type_id"
				        (ngModelChange)="onChangeType($event)">
					<option *ngFor="let element of listType" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
			<div class="input_add">
				<button class="button color-button-normal color-shadow-black" (click)="newType()" type="submit">
					<i class="material-icons">add_circle_outline</i>
				</button>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Universe:
			</div>
			<div class="input">
				<select [ngModel]="data.universe_id"
				        (ngModelChange)="onChangeUniverse($event)">
					<option *ngFor="let element of listUniverse" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
			<div class="input_add">
				<button class="button color-button-normal color-shadow-black" (click)="newUniverse()" type="submit">
					<i class="material-icons">add_circle_outline</i>
				</button>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Series:
			</div>
			<div class="input">
				<select [ngModel]="data.series_id"
				        (ngModelChange)="onChangeSeries($event)">
					<option *ngFor="let element of listSeries" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
			<div class="input_add">
				<button class="button color-button-normal color-shadow-black" (click)="newSeries()" type="submit">
					<i class="material-icons">add_circle_outline</i>
				</button>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Season:
			</div>
			<div class="input">
				<select [ngModel]="data.season_id"
				        (ngModelChange)="onChangeSeason($event)">
					<option *ngFor="let element of listSeason" [ngValue]="element.value">{{element.label}}</option>
				</select>
			</div>
			<div class="input_add">
				<button class="button color-button-normal color-shadow-black" (click)="newSeason()" type="submit">
					<i class="material-icons">add_circle_outline</i>
				</button>
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Episode:
			</div>
			<div class="input">
				<input type="number"
				       pattern="[0-9]{0-4}"
				       placeholder="5"
				       [value]="data.episode"
				       (input)="onEpisode($event.target)"/>
			</div>
		</div>
		<div class="send_value">
			<button class="button fill-x color-button-validate color-shadow-black" [disabled]="!need_send" (click)="sendValues()" type="submit"><i class="material-icons">save_alt</i> Save</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="title" *ngIf="!itemIsRemoved  && !itemIsNotFound && !itemIsLoading">
		Covers
	</div>
	<div class="fill-all"  *ngIf="!itemIsRemoved  && !itemIsNotFound && !itemIsLoading">
		<div class="request_raw">
			<div class="label">
				Add covers:
			</div>
			<div class="input">
				<input type="file"
				       (change)="onChangeCover($event.target)"
				       placeholder="Select a cover file"
				       accept=".png,.jpg,.jpeg,.webp"/>{{upload_file_value}}
			</div>
		</div>
		<div class="request_raw">
			<div class="label">
				Actual Covers:
			</div>
			<div class="input">
				<div *ngFor="let element of covers_display" class="cover_div">
					<img src="{{element.url}}" class="cover"/>
					<div class="cover_remove_div">
						<button class="button color-button-cancel color-shadow-black" (click)="removeCover(element.id)" type="submit">
							<i class="material-icons">delete</i> Remove Cover
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="title" *ngIf="!itemIsRemoved  && !itemIsNotFound && !itemIsLoading">
		Administration
	</div>
	<div class="fill-all" *ngIf="!itemIsRemoved  && !itemIsNotFound && !itemIsLoading">
		<div class="request_raw">
			<div class="label">
				<i class="material-icons">data_usage</i> ID:
			</div>
			<div class="input">
				{{data.data_id}}
			</div>
		</div>
		<div class="clear"></div>
		<div class="request_raw">
			<div class="label">
				<i class="material-icons">delete_forever</i> Trash:
			</div>
			<div class="input">
				<button class="button color-button-cancel color-shadow-black" (click)="removeItem()" type="submit">
					<i class="material-icons">delete</i> Remove Media
				</button>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<create-type ></create-type>

<upload-progress [mediaTitle]="upload.labelMediaTitle"
	[mediaUploaded]="upload.mediaSendSize"
	[mediaSize]="upload.mediaSize"
	[result]="upload.result"
	[error]="upload.error"></upload-progress>

<delete-confirm
	[comment]="confirmDeleteComment"
	[imageUrl]=confirmDeleteImageUrl
    (callback)="deleteConfirmed()"></delete-confirm>

<app-popin id="popin-new-season"
       popTitle="Create a new season"
       closeTopRight="true"
       closeTitle="Cancel"
       validateTitle="Create"
       (callback)="eventPopUpSeason($event[0])">
    <p>
        Name: <!-- <input type="text" [(ngModel)]="bodyText" /> -->
    </p>
</app-popin>

<app-popin id="popin-new-series"
       popSize="small"
       popTitle="Create a new series"
       closeTopRight="true"
       closeTitle="Cancel"
       validateTitle="Create"
       (callback)="eventPopUpSeries($event[0])">
    <p>
        Name: <!-- <input type="text" [(ngModel)]="bodyText" /> -->
    </p>
</app-popin>


<app-popin id="popin-new-universe"
       popSize="big"
       popTitle="Create a new universe"
       closeTopRight="true"
       closeTitle="Cancel"
       validateTitle="Create"
       (callback)="eventPopUpUniverse($event[0])">
    <p>
        Name: <!-- <input type="text" [(ngModel)]="bodyText" /> -->
    </p>
</app-popin>

