<div class="top">
	<div id="main-menu" class="main-menu color-menu-background">
		<button class="item"
		        (click)="onHome()">
			<i class="material-icons">home</i> Home
		</button>
		<div class="ariane">
			<button class="item" *ngIf="ariane_type_id != null" title="type" (click)="onArianeType()">{{ariane_type_name}}</button>
			<div class="item_ariane_separator" *ngIf="ariane_univers_id != null && ariane_type_id != null" >/</div>
			<button class="item" *ngIf="ariane_univers_id != null" title="univers" (click)="onArianeUnivers()">{{ariane_univers_name}}</button>
			<div class="item_ariane_separator" *ngIf="ariane_group_id != null && (ariane_univers_id != null || ariane_type_id != null)" >/</div>
			<button class="item" *ngIf="ariane_group_id != null" title="group" (click)="onArianeGroup()">{{ariane_group_name}}</button>
			<div class="item_ariane_separator" *ngIf="ariane_saison_id != null && (ariane_group_id != null || ariane_univers_id != null || ariane_type_id != null)" >/</div>
			<button class="item" *ngIf="ariane_saison_id != null" title="saison" (click)="onArianeSaison()">{{ariane_saison_name}}</button>
		</div>
		<button class="item"
		        *ngIf="login == null"
		        style="float:right;"
		        (click)="onSignIn()">
			<i class="material-icons">add_circle_outline</i> Sign-up
		</button>
		<button class="item"
		        *ngIf="login == null"
		        style="float:right;"
		        (click)="onLogin()"> <!--  [routerLink]="['./login']" routerLinkActive="active" -->
			<i class="material-icons">account_circle</i> Sign-in
		</button>
		<button class="item"
		        *ngIf="login != null"
		        style="float:right; height:56px;"
		        (click)="onAvatar()">
			<img class="avatar" src="{{avatar}}"/>
		</button>
		<button class="item"
		        *ngIf="editable == true"
		        style="float:right; height:56px;"
		        (click)="onEdit()">
			<i class="material-icons">create</i> Edit
		</button>
	</div>
	<div class="fill-all" *ngIf="login != null &amp;&amp; displayUserMenu == true" (click)="onOutUserProperty()">
	<!-- (click)="onOutUserProperty()" -->
		<div class="user-menu color-menu-background">
			<button class="item" disabled="disabled">
				Sign in as <b>{{login}}</b>
			</button>
			<button class="item" (click)="onHelp()" >
				<i class="material-icons">help_outline</i> Help
			</button>
			<button class="item" (click)="onSetting()" >
				<i class="material-icons">settings</i> Settings
			</button>
			<button class="item" (click)="onLogout()" >
				<i class="material-icons">exit_to_app</i> Sign out
			</button>
		</div>
	</div>
</div>