<div class="top">
	<div id="main-menu" class="main-menu color-menu-background">
		<button class="item"
		        (click)="onHome($event)"
		        (auxclick)="($event)">
			<div class="xdesktop">
				<i class="material-icons">home</i> Home
			</div>
			<div class="xmobile">
				<i class="material-icons">home</i>
			</div>
		</button>
		<div class="ariane">
			<button class="item"
			        *ngIf="ariane_type_id != null"
			        title="Uype"
			        (click)="onArianeType($event)"
			        (auxclick)="onArianeType($event)">
				<div class="xdesktop">
					{{ariane_type_name}}
				</div>
				<div class="xmobile">
					T
				</div>
			</button>
			<div class="item_ariane_separator" *ngIf="ariane_universe_id != null && ariane_type_id != null" >/</div>
			<button class="item"
			        *ngIf="ariane_universe_id != null"
			        title="Universe"
			        (click)="onArianeUniverse($event)"
			        (auxclick)="onArianeUniverse($event)">
				<div class="xdesktop">
					{{ariane_universe_name}}
				</div>
				<div class="xmobile">
					U
				</div>
			</button>
			<div class="item_ariane_separator" *ngIf="ariane_series_id != null && (ariane_universe_id != null || ariane_type_id != null)" >/</div>
			<button class="item"
			        *ngIf="ariane_series_id != null"
			        title="Series"
			        (click)="onArianeSeries($event)"
			        (auxclick)="onArianeSeries($event)">
				<div class="xdesktop">
					{{ariane_series_name}}
				</div>
				<div class="xmobile">
					G
				</div>
			</button>
			<div class="item_ariane_separator" *ngIf="ariane_season_id != null && (ariane_series_id != null || ariane_universe_id != null || ariane_type_id != null)" >/</div>
			<button class="item"
			        *ngIf="ariane_season_id != null"
			        title="Season"
			        (click)="onArianeSeason($event)"
			        (auxclick)="onArianeSeason($event)">
				<div class="xdesktop">
					{{ariane_season_name}}
				</div>
				<div class="xmobile">
					S
				</div>
			</button>
		</div>
		<button class="item"
		        *ngIf="login == null"
		        style="float:right;"
		        (click)="onSignIn($event)"
		        (auxclick)="onSignIn($event)">
			<div class="xdesktop">
				<i class="material-icons">add_circle_outline</i> Sign-up
			</div>
			<div class="xmobile">
				<i class="material-icons">add_circle_outline</i>
			</div>
		</button>
		<button class="item"
		        *ngIf="login == null"
		        style="float:right;"
		        (click)="onLogin($event)"
		        (auxclick)="onLogin($event)">
			<div class="xdesktop">
				<i class="material-icons">account_circle</i> Sign-in
			</div>
			<div class="xmobile">
				<i class="material-icons">account_circle</i>
			</div>
		</button>
		<button class="item"
		        *ngIf="login != null"
		        style="float:right; height:56px;"
		        (click)="onAvatar()">
			<img class="avatar" src="{{avatar}}"/>
		</button>
		<button class="item"
		        *ngIf="edit_show == true"
		        style="float:right; height:56px;"
		        (click)="onEdit()">
			<div class="xdesktop">
				<i class="material-icons">edit</i> Edit
			</div>
			<div class="xmobile">
				<i class="material-icons">edit</i>
			</div>
		</button>
	</div>
	<div class="fill-all" *ngIf="login != null &amp;&amp; displayUserMenu == true" (click)="onOutUserProperty()">
	<!-- (click)="onOutUserProperty()" -->
		<div class="sub-menu user-menu color-menu-background">
			<button class="item" disabled="disabled">
				Sign in as <b>{{login}}</b>
			</button>
			<button class="item"
			        (click)="onHelp($event)"
			        (auxclick)="onHelp($event)">
				<i class="material-icons">help_outline</i> Help
			</button>
			<button class="item"
			        (click)="onSetting($event)"
			        (auxclick)="onSetting($event)">
				<i class="material-icons">settings</i> Settings
			</button>
			<button class="item"
			        (click)="onLogout($event)"
			        (auxclick)="onLogout($event)">
				<i class="material-icons">exit_to_app</i> Sign out
			</button>
			<button class="item"
			        (click)="onAddMedia($event)"
			        (auxclick)="onAddMedia($event)">
				<i class="material-icons">add_circle</i> Add media
			</button>
		</div>
	</div>
	<div class="fill-all" *ngIf="displayEditMenu == true" (click)="onOutUserProperty()">
	<!-- (click)="onOutUserProperty()" -->
		<div class="xdesktop">
			<div class="sub-menu edit-menu color-menu-background">
				<!--
				<button class="item"
				        *ngIf="ariane_type_id != null"
				        (click)="onSubEditType($event)"
				        (auxclick)="onSubEditType($event)">
					<b>Edit Type</b>
				</button>
				<button class="item"
				        *ngIf="ariane_universe_id != null"
				        (click)="onSubEditUniverse($event)"
				        (auxclick)="onSubEditUniverse($event)">
					<b>Edit Universe</b>
				</button>
				-->
				<button class="item"
				        *ngIf="ariane_series_id != null"
				        (click)="onSubEditSeries($event)"
				        (auxclick)="onSubEditSeries($event)">
					<b>Edit Series</b>
				</button>
				<button class="item"
				        *ngIf="ariane_season_id != null"
				        (click)="onSubEditSeason($event)"
				        (auxclick)="onSubEditSeason($event)">
					<b>Edit Season</b>
				</button>
				<button class="item"
				        *ngIf="ariane_video_id != null"
				        (click)="onSubEditVideo($event)"
				        (auxclick)="onSubEditVideo($event)">
					<b>Edit Video</b>
				</button>
			</div>
		</div>
		<div class="xmobile">
			<div class="sub-menu edit-menu-mob color-menu-background">
				<!--
				<button class="item"
				        *ngIf="ariane_type_id != null"
				        (click)="onSubEditType($event)"
				        (auxclick)="onSubEditType($event)">
					<b>Edit Type</b>
				</button>
				<button class="item"
				        *ngIf="ariane_universe_id != null"
				        (click)="onSubEditUniverse($event)"
				        (auxclick)="onSubEditUniverse($event)">
					<b>Edit Universe</b>
				</button>
				-->
				<button class="item"
				        *ngIf="ariane_series_id != null"
				        (click)="onSubEditSeries($event)"
				        (auxclick)="onSubEditSeries($event)">
					<b>Edit Series</b>
				</button>
				<button class="item"
				        *ngIf="ariane_season_id != null"
				        (click)="onSubEditSeason($event)"
				        (auxclick)="onSubEditSeason($event)">
					<b>Edit Season</b>
				</button>
				<button class="item"
				        *ngIf="ariane_video_id != null"
				        (click)="onSubEditVideo($event)"
				        (auxclick)="onSubEditVideo($event)">
					<b>Edit Video</b>
				</button>
			</div>
		</div>
	</div>
</div>