<div class="main-reduce">
	<div class="fill-all">
		<div class="title">
			{{name}}
		</div>
		<div class="cover" *ngIf="cover != null" >
			<img src="{{cover}}"/>
		</div>
		<div class="episode" *ngIf="series_name!=null">
			<b>Series:</b> {{series_name}}
		</div>
		<div class="episode" *ngIf="season_name!=null">
			<b>Season:</b> {{season_name}}
		</div>
		<div class="episode" *ngIf="episode!=null">
			<b>Episode:</b> {{episode}}
		</div>
		<div class="episode">
			<b>generated_name:</b> {{generated_name}}
		</div>
		<div class="description">
			{{description}}
		</div>
		<div class="video_div">
			<video class="video_object" src="{{video_source}}/{{generated_name}}" controls preload="none">
				<!--<p>Your browser des not suport HTML5 video player. download video: <a href="{{video_source}}>link here</a>.</p>-->
			</video>
		</div>
	</div>
</div>