.fill-all{
	//width:100%;
	max-width:80%;
	height:100%;
	margin: 20px auto;
	padding: 20px;
	border:0;
	background-color: rgba(200, 200, 200, 0.5);
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.title {
	width: 90%;
	margin: 0 auto;
	font-size: 50px;
	text-align: center;
}

.description {
	width: 80%;
	margin: 0 auto;
}

.episode {
	width: 80%;
	margin: 0 auto;
}

.generated_name {
	width: 80%;
	margin: 0 auto;
}
.cover {
    position:relative;
	width: 400px;
	height: 500px;
	margin: 0 auto;
	overflow:hidden;
	
	.cover-image {
		position:absolute;
	};
	.cover-no-image {
		position:absolute;
		width: 390px;
		height: 490px;
		margin: 0 auto;
		border: solid 5px;
		border-color: rgba(0, 0, 0, 0.7);
	};
	.cover-button {
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	};
	
	img {
		width: 100%;
	};
	button {
		border: none;
		background: none;
		color: #00F000;
	};
}
.video {
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: #3C3C3C;
	
	.video-elem {
		position:absolute;
		width: 100%;
		height: calc(100% - 56px);
		top: 56px;
		//right: 50%;
		//-ms-transform: translate(-50%, -50%);
		//transform: translate(-50%, -50%);
	};
	.video-button {
		position: absolute;
		top: 100px;
		right:100px;
		//-ms-transform: translate(-50%, 0);
		//transform: translate(-50%, 0);
	};
	
	
	video {
		width: 100%;
		height: 100%;
		z-index: 1600;
	};
	
	button {
		border: none;
		background: none;
		color: #F00000;
	};
}

.big-button {
	font-size:150px;
}
/*
.video_div {
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: none;
	background: none;
}
.video_div_button {
	position: fixed;
	top:100px;
	right:175px;
	width: 50px;
	height: 50px;
	font-size:50px;
	margin: auto;
	
}

.video_object {
	width: 100%;
	margin: 0 auto;
}
*/
.item {
	font-size: 20px;
	height: 21%;
	width: 23%;
	margin: 1%;
	padding: 0;
	overflow: hidden;
	//box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.6);
	line-height: normal;
	border: none;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	will-change: box-shadow;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	transition-duration: 0.4s;
	float:left;
	display:block;
	
	h1 {
		font-size: 24px;
	}
	
	&:hover {
		background-color: #F00;
	}
	
	.material-icons {
		vertical-align: middle;
	}
	
	.material-icons {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: ~"translate(-12px,-12px)";
		line-height: 24px;
		width: 24px;
	}
}

.item-video {
	&:hover {
		background-color: #0F0;
	}
}

