
.videoImgContainer {
	text-align: center;
	width: 200px;
	margin: 0 auto;
	height: 250px;
	img {
		//width: 100%;
		max-height: 250px;
		max-width: 200px;
	}
	.noImage {
		height: 245px;
		width: 195px;
		//box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.7);
		border: solid 1px;
		border-color: rgba(0, 0, 0, 0.7);
		margin: auto;
	}
}

.title-small {
	height: 40px;
	width: 200px;
	font-size: 17px;
	overflow:hidden;
	display:inline-block;
	text-align: center;
	padding:auto;
	background: rgba(256, 256, 256, 0.3);
	border-radius: 7px;
}

.description-small {
	height: 30px;
	font-size: 12px;
	overflow:hidden;
	vertical-align: middle;
}